.sectionCafeOk {
    background-color: black;
    width: auto;
    display: grid;
    grid-template-areas:
        "cafe cafe"
        "cafe-bike cafe-bike"
        "barra barra"
        "bebidas bebidas"
        "delicatessen delicatessen"
        "amigos amigos"
        "equipo equipo";
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 150px);
    .cafe {
        height: 150px;
        width: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 38px;
        color: $color;
        text-align: center;
        line-height: 150px;
        font-weight: bolder;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .cafe1 {
        grid-area: cafe;
        background-image: url(imagenes/coffee-2560260_1280.jpg);
    }
    .cafe-bike {
        grid-area: cafe-bike;
        color: $color;
    }
    .delicatessen {
        grid-area: delicatessen;
        background-image: url(./imagenes/medialuna2.webp);
        color: black;
        font-weight: bolder;
        font-size: 30px;
    }
    .bebidas {
        grid-area: bebidas;
        justify-content: center;
    }
    .barra {
        grid-area: barra;
        background-image: url(./imagenes/barrabikeplace.webp);
    }
    .amigos {
        grid-area: amigos;
    }
    .equipo {
        grid-area: equipo;
        background-image: url(./imagenes/equipoGasparini.jpg);
        filter: opacity(0.9);
    }
    .espacio {
        grid-area: espacio;
    }
    .sillon {
        grid-area: sillon;
        background-image: url(./imagenes/silloncafeteria.webp);
    }
}  



/*media query CAFE*/
@media only screen and (min-width:500px) {
    .sectionCafeOk {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "cafe cafe cafe-bike"
            "espacio barra barra"
            "bebidas bebidas bebidas"
            "delicatessen delicatessen sillon"
            "amigos amigos amigos"
            "equipo equipo equipo";
            
            .cafe {
                font-size: 40px;
            }
    }
}

@media only screen and (min-width:700px) {
    .sectionCafeOk {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "cafe cafe-bike cafe-bike delicatessen"
            "barra barra bebidas bebidas"
            "amigos equipo equipo equipo";

            .cafe {
                font-size: 48px;
            }
    }
}

