.index {
    display: grid;
    width: 100%;

    div {
        height: 150px;
        border: 10px solid black;
        transition: all 1s;

        &:hover {
            transform: scale(1);
        }
        &:active{
            transform: scale(1.1);
        }

        a {
            text-decoration: none;
            color: $color;
            font-size: 40px;
            font-weight: bold;

            &:hover {
                text-shadow: 0 0 10px rgb(245, 244, 244);
            }
        }
    }

    .indexCafe,
    .indexRodadas,
    .indexTaller,
    .indexTienda {
        display: block;
        background-size: cover;
        background-position: center;
        text-align: center;
        line-height: 150px;
    }

}

.indexCafe {
    background-image: url(./imagenes/cafe.jpg);
}

.indexRodadas {
    background-image: url(./imagenes/fondo2.jpg);
}

.indexTaller {
    background-image: url(./imagenes/taller.jpg);
}

.indexTienda {
    background-image: url(./imagenes/bicispared.webp);
}


@media only screen and (min-width: 480px) {
    .index div {
        height: 300px;
        width: auto;
        line-height: 300px !important;
    }
}

@media only screen and (min-width: 700px) {
    .index {
        background-color: $bg-principal;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div {
            width: 45%;
        }
    }
}