.nosotros {
    background-color: $bg-principal;
    --bs-gutter-x: 0 !important;
    div h1{
        margin-top: 15px;
        margin-left: 10px;
        font-size: 30px;
        background-color: black;
        color: $color;
        font-weight: bolder;
        text-shadow: 0 0 5px black;
    }
    #carouselExampleIndicators {
        height: 300px;
        border: 5px solid black;
        background-position: center;
        background-size: contain;
        .carousel-inner {
            height: 300px;
            .carousel-item {
                background-size: cover;
                background-position: center;
            }
        }
    }
    .nosotrostercio2 {
        text-align: center;
        p {
            text-align: center;
            padding: 20px;
            border: 2px solid black;
            color: $color;
            letter-spacing: 2px;
            word-spacing: 1px;
        }
    }
    .nosotrostercio3 {
        text-align: center;
        padding: 10px;
        p {
            padding: 10px;
            letter-spacing: 2px;
            word-spacing: 2px;
        }
        video {
            height: 400px;
        }
    }
}

