.sectionrodadas {
    background-color: $bg-principal;
    height: 100%;

    .rodadasGasparini {
        height: auto;
        border: 2px solid black;
        background-image: linear-gradient(to bottom, black, grey);
        //background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        padding: 10px 20px 20px 20px;

        h1 {
            font-size: 45px;
            padding: 10px;
            font-weight: bolder;
            color: $color;
        }

        img {
            width: 200px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        p {
            margin: 20px 20px 10px 20px;
            font-size: 30px;
    }

     a {
            text-decoration: none;
            font-size: 20px;
            background-color: $bg-principal;
            color: $color;
            font-weight: bolder;
            padding: 5px;
            border-radius: 25px;

            &:hover {
                text-shadow: 0 0 10px $color;
            }
}
        }

        .rodadasRedes {
            display: flex;
            justify-content: center;

            a {
                margin: 5px 10px;
                background: none;
                font-size: 30px;
                color: $color;

                i:hover {
                    text-shadow: 0 0 10px $color;
                }
            }
        }

        .botonMasInfo {
            a {
            margin: 0px;
        }
        p strong{
            color: $color;
        }
    }
}

    .rodadasmitad2 {
        text-align: center;

        iframe {
            width: 90%;
            margin: 0px;
            border: 2px solid black;
        }

        h1 {
            font-size: 35px;
            width: 30%;
            margin-top: 30px;
            background-color: rgba(255, 255, 255, 0.5);
            text-align: center;
            border: 2px solid black;
            font-weight: bolder;
        }
    
        .proximasSalidas {
            background-color: rgba(15, 15, 15, 0.411);
            height: auto;
            margin: 0px 20px 0px 20px;
            padding-bottom: 10px;
            border: 2px solid black;

            h2 {
                font-size: 35px;
                background-color: rgba(255, 255, 255, 0.443);
                color: $color;
            }

            h3 {
                font-size: 30px;
                background-color: #ffffff17;
                color: $color;
            }

            p {
                font-size: 25px;
                margin-bottom: 10px;
                color: $color;
            }

            a {
                text-decoration: none;
                color: $color;
                background-color: rgb(78, 77, 77);
                padding: 5px;
                font-weight: bolder;
                font-size: 20px;
                margin-right: 0px;
                margin-bottom: 10px;
                border-radius: 20px;
                padding: 5px;

                &:hover {
                    text-shadow: 0 0 10px #fff;
                }
            }
        }
    }
