.sectionTaller {
    background-color: $bg-principal;
    display: flex;
    flex-direction: column;
    --bs-gutter-x: opx;

    img {
        width: 100%;
        border: 2px solid black;
        background-size: cover;
        background-position: center;
    }

    .taller1 {
        p {
            font-size: 35px;
            text-align: center;
            align-self: center;
            color: $color;
            margin: 3px;
            padding: 5px;

            a {
                font-size: 35px;
                color: #83c259 !important;
            }
        }

        .fotoTaller {
            width: 100%;
        }
    }

    .form {
        padding: 5px;
        width: 60%;
        align-self: center;

        .form-select {
            font-weight: bolder;
            font-size: 25px;

            option {
                font-size: 15px !important;
                font-weight: bolder;
            }
        }

        .mb-3 {
            margin: 3px !important;
        }

        .form-floating {

            .form-control {
                height: 10px !important;
            }

            label {
                padding: 3px !important;
                font-weight: bolder;
                font-size: 20px;
            }
        }

        .btn {
            margin: 20px 0px;
            font-weight: bolder;
            font-size: 20px;
        }
    }
}