* {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  width: 100%;
  display: none;
}
nav div.container-fluid a.navbar-brand img {
  height: 80px;
}

.navbar-collapse {
  z-index: 1;
  background-color: black;
  position: absolute;
  top: 80px;
  right: 13px;
}
.navbar-collapse ul {
  width: 100%;
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: flex-end;
}
.navbar-collapse ul li {
  padding: 10px;
}
.navbar-collapse ul li:hover {
  text-shadow: rgb(204, 201, 201) -1px -1px;
}
.navbar-collapse ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: #ffffff !important;
  font-size: auto;
  letter-spacing: 2px;
}

@media only screen and (max-width: 480px) {
  .nav {
    display: none !important;
  }
}
@media only screen and (min-width: 480px) {
  .nav {
    display: none !important;
  }
}
@media only screen and (min-width: 700px) {
  .nav {
    display: block !important;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-collapse {
    background-color: black;
    position: static;
  }
}
.index {
  display: grid;
  width: 100%;
}

.imgCafe-icon {
  background-image: url("../imagenes/imgCafe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
  line-height: 150px;
  border: 10px solid black;
  transition: all 1s;
}
.imgCafe-icon:hover {
  transform: scale(1);
}
.imgCafe-icon:active {
  transform: scale(1.1);
}
.imgCafe-icon a {
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}
.imgCafe-icon a:hover {
  text-shadow: 0 0 10px rgb(245, 244, 244);
}

.imgRodadas-icon {
  background-image: url("../imagenes/imgRodadas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
  line-height: 150px;
  border: 10px solid black;
  transition: all 1s;
}
.imgRodadas-icon:hover {
  transform: scale(1);
}
.imgRodadas-icon:active {
  transform: scale(1.1);
}
.imgRodadas-icon a {
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}
.imgRodadas-icon a:hover {
  text-shadow: 0 0 10px rgb(245, 244, 244);
}

.imgTaller-icon {
  background-image: url("../imagenes/imgTaller.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
  line-height: 150px;
  border: 10px solid black;
  transition: all 1s;
}
.imgTaller-icon:hover {
  transform: scale(1);
}
.imgTaller-icon:active {
  transform: scale(1.1);
}
.imgTaller-icon a {
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}
.imgTaller-icon a:hover {
  text-shadow: 0 0 10px rgb(245, 244, 244);
}

.imgTienda-icon {
  background-image: url("../imagenes/imgTienda.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
  line-height: 150px;
  border: 10px solid black;
  transition: all 1s;
}
.imgTienda-icon:hover {
  transform: scale(1);
}
.imgTienda-icon:active {
  transform: scale(1.1);
}
.imgTienda-icon a {
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}
.imgTienda-icon a:hover {
  text-shadow: 0 0 10px rgb(245, 244, 244);
}

@media only screen and (min-width: 480px) {
  .index div {
    height: 300px;
    width: auto;
    line-height: 300px !important;
  }
}
@media only screen and (min-width: 700px) {
  .index {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .index div {
    width: 45%;
  }
}
footer {
  height: 70px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
footer h5 {
  padding: 5px 2px;
  margin-left: 5px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
}

.redesSociales {
  display: block;
  text-align: center;
  line-height: 70px;
}
.redesSociales a {
  font-size: 20px;
  color: #ffffff;
  padding: 3px;
}
.redesSociales a:hover {
  text-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #ffffff;
}

.conocenos {
  width: 20%;
  background-image: url(./imagenes/logoreal2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 10px;
  color: #ffffff !important;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 10px;
}

@media only screen and (min-width: 480px) {
  footer h5 {
    font-size: 16px;
  }
  .redesSociales a {
    padding: 15px;
  }
  .conocenos {
    font-size: 15px;
  }
}
@media only screen and (min-width: 700px) {
  .redesSociales a {
    font-size: 30px;
    padding: 20px;
  }
  .conocenos {
    font-size: 20px;
  }
}
.mainTienda {
  background-color: black;
}
.mainTienda h1 {
  font-size: 40px;
}
.mainTienda p {
  font-size: 20px;
}
.mainTienda .row {
  --bs-gutter-x: 0px;
}
.mainTienda .row .tienda {
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: bolder;
  color: #ffffff;
}
.mainTienda .row .tienda a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
}
.mainTienda .row .tienda a:hover {
  text-shadow: 0 0 9px #fff;
}

@media only screen and (min-width: 500px) {
  .tienda {
    height: 150px;
    line-height: 150px;
  }
  .bici {
    width: 50%;
  }
  .accesorios {
    width: 50%;
  }
}
.sectionProductos {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.sectionProductos .tituloProductos {
  display: block;
  font-size: 40px;
  color: #ffffff;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgba(111, 109, 109, 0.396);
  width: 250px;
  border-radius: 10px;
  text-align: center;
}
.sectionProductos .productos {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sectionProductos .productos .card {
  height: auto;
  width: 250px;
  border: 2px solid black;
  background-color: rgba(207, 203, 203, 0.379);
  padding: 10px;
  text-align: center;
  margin: 30px;
}
.sectionProductos .productos .card h1 {
  font-size: 30px;
  color: rgb(155, 2, 2);
  text-shadow: 0 0 3px black;
  margin-bottom: 10px;
  font-weight: bolder;
}
.sectionProductos .productos .card img {
  height: 150px;
  width: 100%;
  border: 1px solid black;
}
.sectionProductos .productos .card p {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bolder;
  color: #ffffff;
}
.sectionProductos .productos .card a {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
  background-color: black;
  font-size: 25px;
  padding: 2px 5px;
  text-decoration: none;
  border-radius: 10px;
  margin: 0px;
}
.sectionProductos .productos .card a:hover {
  text-shadow: 0 0 9px #ffffff;
}
.sectionProductos .productos .card .ropa {
  object-fit: contain;
  background-color: #ffffff;
}
.sectionProductos .productos .volverTienda {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  width: 54px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(155, 2, 2, 0.82);
  font-size: 20px;
  position: fixed;
  bottom: 70px;
  right: 0px;
  border: 2px solid black;
  margin-bottom: 17px;
  margin-right: 2px;
}
.sectionProductos .productos .volverTienda:hover {
  box-shadow: 0 0 15px #ffffff;
}

.sectionCafeOk {
  background-color: black;
  width: auto;
  display: grid;
  grid-template-areas: "cafe cafe" "cafe-bike cafe-bike" "barra barra" "bebidas bebidas" "delicatessen delicatessen" "amigos amigos" "equipo equipo";
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 150px);
}
.sectionCafeOk .cafe {
  height: 150px;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 38px;
  color: #ffffff;
  text-align: center;
  line-height: 150px;
  font-weight: bolder;
  border-radius: 20px;
  margin-bottom: 10px;
}
.sectionCafeOk .cafe1 {
  grid-area: cafe;
  background-image: url(imagenes/coffee-2560260_1280.jpg);
}
.sectionCafeOk .cafe-bike {
  grid-area: cafe-bike;
  color: #ffffff;
}
.sectionCafeOk .delicatessen {
  grid-area: delicatessen;
  background-image: url(./imagenes/medialuna2.webp);
  color: black;
  font-weight: bolder;
  font-size: 30px;
}
.sectionCafeOk .bebidas {
  grid-area: bebidas;
  justify-content: center;
}
.sectionCafeOk .barra {
  grid-area: barra;
  background-image: url(./imagenes/barrabikeplace.webp);
}
.sectionCafeOk .amigos {
  grid-area: amigos;
}
.sectionCafeOk .equipo {
  grid-area: equipo;
  background-image: url(./imagenes/equipoGasparini.jpg);
  filter: opacity(0.9);
}
.sectionCafeOk .espacio {
  grid-area: espacio;
}
.sectionCafeOk .sillon {
  grid-area: sillon;
  background-image: url(./imagenes/silloncafeteria.webp);
}

/*media query CAFE*/
@media only screen and (min-width: 500px) {
  .sectionCafeOk {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "cafe cafe cafe-bike" "espacio barra barra" "bebidas bebidas bebidas" "delicatessen delicatessen sillon" "amigos amigos amigos" "equipo equipo equipo";
  }
  .sectionCafeOk .cafe {
    font-size: 40px;
  }
}
@media only screen and (min-width: 700px) {
  .sectionCafeOk {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "cafe cafe-bike cafe-bike delicatessen" "barra barra bebidas bebidas" "amigos equipo equipo equipo";
  }
  .sectionCafeOk .cafe {
    font-size: 48px;
  }
}
.sectionTaller {
  background-color: black;
  display: flex;
  flex-direction: column;
  --bs-gutter-x: opx;
}
.sectionTaller img {
  width: 100%;
  border: 2px solid black;
  background-size: cover;
  background-position: center;
}
.sectionTaller .taller1 p {
  font-size: 35px;
  text-align: center;
  align-self: center;
  color: #ffffff;
  margin: 3px;
  padding: 5px;
}
.sectionTaller .taller1 p a {
  font-size: 35px;
  color: #83c259 !important;
}
.sectionTaller .taller1 .fotoTaller {
  width: 100%;
}
.sectionTaller .form {
  padding: 5px;
  width: 60%;
  align-self: center;
}
.sectionTaller .form .form-select {
  font-weight: bolder;
  font-size: 25px;
}
.sectionTaller .form .form-select option {
  font-size: 15px !important;
  font-weight: bolder;
}
.sectionTaller .form .mb-3 {
  margin: 3px !important;
}
.sectionTaller .form .form-floating .form-control {
  height: 10px !important;
}
.sectionTaller .form .form-floating label {
  padding: 3px !important;
  font-weight: bolder;
  font-size: 20px;
}
.sectionTaller .form .btn {
  margin: 20px 0px;
  font-weight: bolder;
  font-size: 20px;
}

.sectionrodadas {
  background-color: black;
  height: 100%;
}
.sectionrodadas .rodadasGasparini {
  height: auto;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 10px 20px 20px 20px;
}
.sectionrodadas .rodadasGasparini h1 {
  font-size: 45px;
  padding: 10px;
  font-weight: bolder;
}
.sectionrodadas .rodadasGasparini img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.sectionrodadas .rodadasGasparini p {
  margin: 20px 20px 10px 20px;
  font-size: 30px;
}
.sectionrodadas .rodadasGasparini a {
  text-decoration: none;
  font-size: 20px;
  background-color: black;
  color: #ffffff;
  font-weight: bolder;
  padding: 5px;
  border-radius: 25px;
}
.sectionrodadas .rodadasGasparini a:hover {
  text-shadow: 0 0 10px #ffffff;
}
.sectionrodadas .rodadasRedes {
  display: flex;
  justify-content: center;
}
.sectionrodadas .rodadasRedes a {
  margin: 5px 10px;
  background: none;
  font-size: 30px;
  color: #ffffff;
}
.sectionrodadas .rodadasRedes a i:hover {
  text-shadow: 0 0 10px #ffffff;
}
.sectionrodadas .botonMasInfo a {
  margin: 0px;
}

.rodadasmitad2 {
  text-align: center;
}
.rodadasmitad2 iframe {
  width: 90%;
  margin: 0px;
  border: 2px solid black;
}
.rodadasmitad2 h1 {
  font-size: 35px;
  width: 30%;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border: 2px solid black;
  font-weight: bolder;
}
.rodadasmitad2 .proximasSalidas {
  background-color: rgba(15, 15, 15, 0.411);
  height: auto;
  margin: 0px 20px 0px 20px;
  padding-bottom: 10px;
  border: 2px solid black;
}
.rodadasmitad2 .proximasSalidas h2 {
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.443);
  color: #ffffff;
}
.rodadasmitad2 .proximasSalidas h3 {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.0901960784);
  color: #ffffff;
}
.rodadasmitad2 .proximasSalidas p {
  font-size: 25px;
  margin-bottom: 10px;
  color: #ffffff;
}
.rodadasmitad2 .proximasSalidas a {
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(78, 77, 77);
  padding: 5px;
  font-weight: bolder;
  font-size: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
}
.rodadasmitad2 .proximasSalidas a:hover {
  text-shadow: 0 0 10px #fff;
}

.nosotros {
  background-color: black;
  --bs-gutter-x: 0 !important;
}
.nosotros div h1 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 30px;
  background-color: black;
  color: #ffffff;
  font-weight: bolder;
  text-shadow: 0 0 5px black;
}
.nosotros #carouselExampleIndicators {
  height: 300px;
  border: 5px solid black;
  background-position: center;
  background-size: contain;
}
.nosotros #carouselExampleIndicators .carousel-inner {
  height: 300px;
}
.nosotros #carouselExampleIndicators .carousel-inner .carousel-item {
  background-size: cover;
  background-position: center;
}
.nosotros .nosotrostercio2 {
  text-align: center;
}
.nosotros .nosotrostercio2 p {
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  color: #ffffff;
  letter-spacing: 2px;
  word-spacing: 1px;
}
.nosotros .nosotrostercio3 {
  text-align: center;
  padding: 10px;
}
.nosotros .nosotrostercio3 p {
  padding: 10px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.nosotros .nosotrostercio3 video {
  height: 400px;
}

/*# sourceMappingURL=styleOk.css.map */
