
*{
    margin: 0;
    padding: 0;
font-family:'Amatic SC', sans-serif;
font-size: x-large;
box-sizing: border-box;
}


/*----header----*/
header{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logosprincipales{
    height: 65px;
    width: 50%;
    margin-top: 15px;
}
.logoimg{
    width:60px;
    height: auto;
}

.logothebikeplace{
    height: 30px;
    width: auto;
}
nav{
    width: 50%;
    height: auto;
}
ul{
    width: 100%;
    display: flex; 
    justify-content: end;   
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: auto;
    letter-spacing: 2px;
}
li{
    padding: 10px;
}
li a:hover{
    text-shadow:rgb(204, 201, 201) -1px -1px;
}



/*----section central----*/
section{
    background: linear-gradient(180deg, rgb(27, 27, 27) 0%, rgb(141, 141, 141) 57%);
    width:100%;
    display: flex;   
}
.sectionCentral{
width: 100%;
display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
    .sectionCentral a{
        font-size: 50px;
}
.sectionCentral a:hover{
    text-shadow: 0 0 10px rgb(245, 244, 244);
}
.imagencentral1, .imagencentral2, .imagencentral3, .imagencentral4{
    background-repeat: no-repeat;
    width: 45%;
    height: 400px;
    background-size: cover;
    background-position: center;
    font-weight: bolder;
text-align: center;
line-height: 400px;
margin: 10px;
opacity: 80%;
border: 2px solid black;
filter:opacity(86%);
transition: all 0.9s;
}

.imagencentral1:hover, .imagencentral2:hover, .imagencentral3:hover, .imagencentral4:hover{
    filter:opacity(100%);
    transform: scale(1.02);
}

    .imagencentral1{
        background-image: url(./imagenes/cafe.jpg);
    }
    
    .imagencentral2{
        background-image: url(./imagenes/bicispared.webp);
    }
    
    .imagencentral3{
        background-image: url(./imagenes/taller.jpg);
    }
    .imagencentral4{
        background-image: url(./imagenes/fondo2.jpg);
}



/*----footer----*/
footer{
background-color: #D6D6D6;
display: flex;
justify-content: space-between;
align-items: center;
}
.iconosinformacion{
    display: flex;
    align-items: center;
}
.iconoubicacion{
    width: 30px;
    margin-top: 5px;
}
h6{
    font-size:small;
    letter-spacing: 1px;
}
.iconotelefono{
width: 15px;
margin: 5px 7px 0px 9px;
}
.iconoemail{
    width: 15px;
    margin: 5px 7px 0px 9px;
}
.iconhorario{
    width: 17px;
    margin: 5px 7px 5px 9px;
}
h5{
    font-size:medium;
}
.conocenos{
    align-items: center;
}
.conocenos img{
    width: 80%;

}

.redessociales a{
    padding: 5px;
    margin-right: 10px;
}
.redessociales a i{
    font-size: 30px;
    color: black;
}   
.redessociales a i:hover{
    text-shadow: 0 0 20px#4e4d4d;
} 





/*----cafe----*/

.sectionCafe2{
    width: 100%;
    height: 450px;
    background-color:  linear-gradient(180deg, rgb(27, 27, 27) 0%, rgb(141, 141, 141) 57%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.items{
    display: grid;
    width: 100%;
    height: 225px;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
    justify-items: center;
    font-size: 50px;
    color: #D6D6D6;
    font-weight: bolder;
    justify-self: center;
align-items: center;
filter:opacity(80%);
transition: all 0.9s;
}

.items:hover{
    filter:opacity(100%);
    transform: scale(1.02);
}
.item2{
background-image: url(./imagenes/coffee-2560260_1280.jpg);
}
.item3 img{
width: 133px;
}
.item4{
    background-image: url(./imagenes/silloncafeteria.webp);
}
.item5{
    background-image: url(./imagenes/barrabikeplace.webp);
}
.item6 img{
    width: 133px; 
}
.item7{
    background-image: url(./imagenes/medialuna2.webp) ;
}
.item8 img{
    width: 133px; 
}


/*----nosotros----*/
.nosotrostercio1{
    margin: 30px;
}
.nosotrostercio1 h1{
    width: 175px;
    font-size: 40px;
    background-color: rgba(84, 84, 84, 0.553);
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
}
.agustin1, .agustin2{
    display: block;
    width: 70%;
border-radius: 50%;
border: 2px solid black;
}
.agustin1{
    margin-left: 10px;
    margin-top: 30px;
    
}
.agustin2{
    margin-left: 45%;
    margin-top: -20%;
    margin-bottom: 20px;
}

.nosotrostercio2{
    width: 100%;
text-align: center;
}
.nosotrostercio2 p{
height: auto;
width: 80%;
padding: 30px;
margin-top: 60px;
margin-left: 60px;
border: 2px solid black;
color: #D6D6D6;
}
video{
    width: 100%;
    height: auto;
    padding: 20px;
}



/*----rodadas----*/
.sectionrodadas{
    height: 100%;

}
.rodadasGasparini{
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 10px 20px 20px 20px;
    margin: 30px;
}
.rodadasGasparini h1{
    font-size: 50px;
    padding: 10px;
}
.rodadasGasparini img{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.rodadasGasparini p{
    margin: 20px 20px 0px 20px;
    font-size: x-small;
}

.rodadasGasparini a{
    font-size: 15px;
    background-color: black;
    padding: 5px;
    border-radius: 20px;
}
.rodadasGasparini a:hover{
    text-shadow: 0 0 10px #fff;
}
.rodadasRedes{
    display: flex;
    justify-content: center;
}
.rodadasRedes a{
margin: 5px 10px;    
background: none;
font-size:small;
color: azure;
}
.rodadasRedes a i:hover{
    text-shadow: 0 0 10px #fff;    
}
.botonMasInfo a{
    margin: 0px;
}
.rodadasmitad2 iframe{
    margin: 20px; 
    border: 2px solid black;
}
.rodadasmitad2{
    text-align: center;
}
.rodadasmitad2 h1{
    font-size: 40px;
    width: 30%;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border: 2px solid black;
}
.rodadasmitad2 .proximasSalidas{
    background-color: rgba(15, 15, 15, 0.411);
    height: 150px;
    margin: 0px 20px 20px 20px;
    border: 2px solid black;
}
.proximasSalidas h2{
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.443);
color: #fff;}
.proximasSalidas h3{
    font-size: 25px;
    background-color: #ffffff17;
}
.proximasSalidas p{
    font-size: 19px;
}

.proximasSalidas a{
    background-color: black;
    padding: 5px;
    font-size: 15px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px;
}
.rodadasmitad2 a:hover{
    text-shadow: 0 0 10px #fff;
}

/*----Tienda----*/

.sectionTienda{
    display: flex;
    flex-direction: column;
}
.sectionTienda h1{
    width: 228px;
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 40px;
    margin-top: 10px;
    padding: 2px;
    background-color: #151212;
}
#tablaTienda{
text-align: center;
}
th a, td a strong{
    font-size: 50px;
    color: #D6D6D6;

}
td a strong:hover{
    text-shadow: 0 0 5px #151212;
}
th a:hover{
    text-shadow: 0 0 5px #151212;
}
.imgTienda1, .imgTienda2, .imgTienda3{
    width: 60%;
text-align: center;
opacity: 80%;
border: 2px solid black;
}
.imgTienda2{
margin-top: 20px;
}
.imgTienda3{
margin-bottom: 15px;
}



/*----Taller----*/
.sectionTaller{
    display: flex;
    flex-direction: column;
}

.sectionTaller a{
    font-size: 40px;
    margin-right: 50px;
}
.sectionTaller img{
    width: 30%;
    border: 2px solid black;
    margin-left: 30px;
    margin-bottom: 30px;
}
.tallerTercio1 nav{
width: 100%;
}
.tallerTercio1 nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
}
.tallerTercio2{
display: block;
display: flex;
}
.tallerTercio2 p{
    text-align: center;
    align-self: center;
    color: #D6D6D6;
    margin: 3px;
    margin: 0px ;
}
.tallerTercio2 p a{
    font-size: 25px;
    color: #83c259;
}
.tallerForm{
    display: block;
    display: flex;
    margin-left: 30px;
}
.tallerForm form{
    margin: 2px;
}
.tallerForm label{
    font-weight: bolder;
}
.tallerForm input{
margin: 20px;
}

#textarea{
    width: 200px;
    height: 100px;
    font-size: 15px;
text-align: start;
}
.tallerForm img{
width: 10%;
align-self: center;
margin: 0px 0px 30px 70px;
}    



/*----Indumentaria-Accerorios-Bicicletas----*/
.sectionProductos{
display: flex;
flex-direction: column;
}
.tituloProductos{
    display: block;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #020202;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}
.productos{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    height: auto;
    width: 250px;
    border: 2px solid black;
    background-color: rgba(207, 203, 203, 0.379);
    padding: 10px;
    text-align: center;
    margin: 30px ;
}
.card h1{
    font-size: 30px;
    color: rgb(155, 2, 2);
    text-shadow: 0 0 3px black;
    margin-bottom: 10px;
}
.card img{
    height: 150px;
    width: 100%;
    border: 1px solid black;
    
}
.card p{
    font-size: 20px;
    margin-bottom: 15px;
}

.card a{
    width: 100%;
    background-color: black;
    font-size: 25px;
    padding: 2px 5px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0px;
}
.card a:hover{
    text-shadow: 0 0 9px #fff;
}

.volverTienda{
    width: 54px;
    height: 25px;
    background-color: rgba(155, 2, 2, 0.82);
    font-size: 20px;
    position: fixed;
    bottom: 70px;
    right: 0px;
    border: 2px solid black;
    margin-bottom: 17px;
}
.volverTienda:hover{
    box-shadow: 0 0 15px rgb(255, 254, 254);
}
.ropa{
    object-fit:contain;
    background-color: white;
}




/*comienzan medias query*/

@media only screen and (max-width: 480px){
    .logosprincipales{
        width: 70%;
        margin-top: 20px;
        align-items: baseline;
       }
    
    .sectionCentral{
        display: block;
    }
    .imagencentral1, .imagencentral2, .imagencentral3, .imagencentral4{
        height: 250px;
        width: auto;
    align-self: center;
    line-height: 250px;
    }
footer{
align-items: center;
}

    .redessociales a{
        padding: 1px;
    }

}



@media only screen and (max-width: 830px) {

    body nav{
display: none;
    }
.menuu i{
    font-size: 30px;
    color: white;
    margin-right: 10px;
}

.imagencentral1, .imagencentral2, .imagencentral3, .imagencentral4{
    height: 250px;
align-self: center;
line-height: 250px;
}
footer{
    align-items: center;
}
.iconosinformacion{
    display: none;
}
.conocenos{
    margin-left: 25px;
}
.conocenos a img{
    width: 80%;
}
.redessociales{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}
.redessociales a i{
    font-size:70%;
}
}

@media only screen and (min-width: 830px){
    .fa-clock, .fa-location-dot{
        display: none;
    }
   
    }
    
}